<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <title>Assignment 1</title>
    <style media="screen">
      h1{text-align:center;}
    </style>
    <script src="angular.min.js"></script>
<script src="app.js">

</script>
  </head>

  <body ng-app="assignmen1">

    <h1>My First Assignment!</h1>

    <div class="" ng-controller="LunchCheckcontroller">

      Enter your Dish:<input type="text" name="" value="" placeholder="Enter Your Dishes" ng-model="items">

      <hr>

      <button type="button" name="button" ng-click="check();">Check if Too Much!</button>
<br>
{{message}}

    </div>

  </body>

</html>
